
body {
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
}
/* Start shipping information section */
.ship-info-container {
  display: block;
  height: 2.75rem;
}
.ship-info-bkgd {
    opacity: 1;
    margin: 0px;
    padding: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    z-index: 1000000;
    position: fixed;
    top: 0px;
}
.ship-info-bar {
  text-align: center;
    margin: 0px;
    padding: 12px 10px;
    left: 0px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #00FFBC;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: "Lato", sans-serif;
}
#ship-info-symbol
#ship-info-amount {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}
#ship-info-close {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  position: absolute;
  right: .5rem;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}
#ship_close {
    color: #ffffff !important;
    cursor: pointer;
}
/* End shipping information section */
/* Start header section */
.sticky-header {
  position: fixed;
  z-index: 99;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 7.5625rem;
}

.main-hdr-wrapper {
  background: #ffffff;
  height: 7.5625rem;
}

.main-hdr {
  position: relative;
  margin: 0 auto;
  padding: 0 1.875rem;
  max-width: 75rem;
  height: 7.5rem;
  z-index: 3;
}

.top-bar {
  background: #fff;

}

.main-hdr-search-wrapper {
  width: 25rem;
  /* height: 100%; */
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.top-bar {
  padding: .5rem;
  background: #ffffff;
}

.top-bar-left {

}

.header-items {
  float: right;
  width: 45.7rem;
}

.header-items .main-navigation {
  display: flex;
  padding: 0 1.875rem 0 0;
  text-align: left;
  position: relative;
}

.main-navigation-list ul li {

}

.top-bar-left {}
li .menu-text {
  max-height: 6.25rem;
  position: relative;
  top: 50%;
  margin: 0 auto;
}
.brand-logo {
  float: left;
  color: #262626;
  height: 7.5rem;
  /* line-height: 24px; */
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
/* End header section */
